{% block stylesheets %}
	{{ encore_entry_link_tags('my_project') }}
{% endblock %}
<section class="project" id="project">
	<div class="container mb-5">
		<h2>
			<strong>Mes projets</strong>
		</h2>
		<div class="row mt-5">
			{% for project in projects %}
				<div class="col-sm-4 d-flex justify-content-center mt-4">
					<div class="card card-project" style="width: 25rem; background-image: url('../uploads/{{ project.coverName }}'); background-size: cover;">
						<h3 class="card-title d-flex justify-content-center mt-3">{{ project.name }}</h3>
						<p class="card-text d-flex justify-content-center mt-4">{{ project.description }}</p>
						<div class="d-flex justify-content-center">
							<a class="text-decoration-none card-button up d-flex justify-content-center" href="{{ path('index_project_show', {'id': project.id}) }}">voir plus</a>
						</div>
					</div>
				</div>
			{% else %}
				<h2>Aucun projets</h2>
			{% endfor %}
		</div>
	</div>
	<div class="footer-project">
		{% include "include/_footer-project.html.twig" %}
	</div>
</section>
