{% block stylesheets %}
	{{ encore_entry_link_tags('my_project') }}
{% endblock %}
<section class="project" id="project">
	<div class="container">
		<div class="container-fluid my-5">
			<h1>
				<strong>Mes projets</strong>
			</h1>
			<div class="row mt-5">
				{% for project in projects %}
					<div class="col-4 d-flex justify-content-center mt-4">
						<div class="card card-project" style="width: 25rem; background-image: url('../uploads/{{ project.images[0].name }}'); background-size: cover;">
							<h3 class="card-title d-flex justify-content-center mt-3">{{ project.name }}</h3>
							<p class="card-text d-flex justify-content-center mt-4">{{ project.description }}</p>
							<div class="d-flex justify-content-center">
								<a class="text-decoration-none card-button up d-flex justify-content-center" href="{{ path('admin_project_edit', {'id': project.id}) }}">voir plus</a>
							</div>
						</div>
					</div>
				{% else %}
					<h2>Aucun projets</h2>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
