{% extends "parent/layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('show_project') }}
{% endblock %}
{% block body %}
	<div class="container-fluid mt-5">
		<div class="d-sm-flex">
			<div class="col col-sm-6">
				<div class="presentation">
					<h1>
						<strong>{{ project.name }}</strong>
					</h1>
					<p class="mt-5">{{ project.description }}</p>
					<h2 class="mt-5">Lien vers le projet :</h2>
					<span>{{ project.urlProject }}</span>
				</div>
				<div class="contributor-techno d-flex align-items-end mt-3 mt-sm-0">
					<div class="description d-flex justify-content-around">
						<div class="contributor">
							<h2>Contributeur</h2>
							<ul>
								{% for contributor in contributors %}
									<li>{{ contributor.lastname }}
										{{ contributor.firstname }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="techno">
							<h2>Technologie utilisé</h2>
							<ul>
								{% for techno in technos %}
									<li>{{ techno.name }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-sm-6">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('uploads/' ~ project.images[0].name) }}" class="d-block w-100" alt="{{ project.images[0].name }}">
						</div>
						{% for image in project.images %}
							<div class="carousel-item">
								<img src="{{ asset('uploads/' ~ image.name) }}" class="d-block w-100" alt="{{ image.name }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
					<div class="modal-dialog modal-dialog-scrollable modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="exampleModalToggleLabel">Projet :
									{{ project.name }}</h3>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row">
									{% for image in project.images %}
										<div class="d-flex justify-content-center mt-4">
											<div class="card card-project" style="width: 70rem; background-size: cover;">
												<img src="{{ asset('uploads/' ~ image.name) }}" alt="{{ image.name }}">
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="create-button" data-bs-dismiss="modal" aria-label="Close">retour</button>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center mt-3">
					<a class="btn create-button" data-bs-toggle="modal" href="#exampleModalToggle" role="button">voir plus</a>
				</div>
			</div>
		</div>
		<div class="return my-3 d-flex justify-content-center">
			<a class="create-button d-flex justify-content-center" href="/#project">retour</a>
		</div>
	</div>
{% endblock %}
